.calendar-container {
    width: 80vw;
    margin: auto;
}

.calendar-container h1 {
    text-align: center;
}

.calendar-body .week {
    height: 150px;
    /* border: 1px solid black; */
    font-size: 0;
}

.calendar-body .day-names .day,
.calendar-body .week .day {
    width: 14.285%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
}

.calendar-body .day-names .day {
    text-align: center;
    font-weight: bold;
}

.calendar-body .week .day {
    padding: 6px;
    height: 100%;
    border: 1px solid black;
    vertical-align: top;
}

.calendar-body .week .day .day-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.calendar-body .week .day .event {
    margin-bottom: 5px;
    background-color: #f2f2f2;
    padding: 4px;
}

.calendar-body .week .day .event .time {
    margin-bottom: 5px;
    color: #b8b8b8;
}

.calendar-body .day.grey {
    color: #b8b8b8;
    background-color: #fafafa;
}

.calendar-container h1 i {
    margin: 0 25px;
    color: #b8b8b8;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.3em;
    vertical-align: sub;
}

.calendar-container h1 i:hover {
    color: #000;
    background-color: #fafafa
}